In [43]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [37]:
df = pd.read_csv('data_for_student_case.csv')
df.shape
df

,txid,bookingdate,issuercountrycode,txvariantcode,bin,amount,currencycode,shoppercountrycode,shopperinteraction,simple_journal,cardverificationcodesupplied,cvcresponsecode,creationdate,accountcode,mail_id,ip_id,card_id
0,1,2015-11-09 14:26:51,MX,mccredit,530056.0,64800.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-01 23:03:11,MexicoAccount,email68370,ip111778,card184798
1,2,2015-11-09 14:27:38,MX,mccredit,547046.0,44900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-02 04:50:55,MexicoAccount,email101299,ip78749,card151595
2,3,2015-11-23 16:34:16,MX,mccredit,528843.0,149900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-02 14:30:28,MexicoAccount,email278604,ip70594,card242142
3,4,2015-11-23 16:34:51,MX,mccredit,547146.0,109900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-03 07:53:37,MexicoAccount,email47409,ip113648,card181744
4,5,2015-11-09 14:26:08,MX,visaclassic,477291.0,89900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-08 18:35:35,MexicoAccount,email205501,ip83553,card97271
5,6,2015-11-09 14:26:25,MX,visaclassic,493161.0,79900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-08 23:04:26,MexicoAccount,email243511,ip112410,card159816
6,7,2015-11-09 14:26:47,MX,visaclassic,477291.0,69900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-09 02:31:36,MexicoAccount,email137086,ip83481,card251249
7,8,2015-11-23 16:34:29,MX,mccredit,520416.0,129900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-09 04:56:48,MexicoAccount,email295644,ip66704,card70297
8,9,2015-12-08 19:58:35,MX,visaclassic,477291.0,129900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-09 22:55:40,MexicoAccount,email115605,ip68088,card39791
9,10,2015-11-09 14:25:50,MX,mccredit,549138.0,99900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-11 09:44:14,MexicoAccount,email182966,ip113025,card160922
10,11,2015-11-23 16:34:29,MX,mccredit,520416.0,129900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-11 18:54:05,MexicoAccount,email121326,ip66645,card101732
11,12,2015-11-09 14:26:11,MX,mcdebit,525678.0,84915.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-15 23:46:02,MexicoAccount,email73234,ip76993,card208276
12,13,2015-12-08 19:58:35,MX,visagold,493173.0,119900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-17 03:25:00,MexicoAccount,email92697,ip76878,card264612
13,14,2015-11-09 14:25:51,MX,visagold,477213.0,99900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-17 07:52:16,MexicoAccount,email128862,ip70728,card250464
14,15,2015-11-23 16:34:25,MX,mccredit,520416.0,137900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-19 01:54:35,MexicoAccount,email205298,ip78514,card214147
15,16,2015-11-23 16:34:41,MX,visaclassic,455545.0,115300.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-21 21:30:18,MexicoAccount,email200329,ip85198,card67812
16,17,2015-11-23 16:34:56,MX,mccredit,528843.0,102900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-22 01:22:11,MexicoAccount,email52218,ip66658,card15137
17,18,2015-11-23 16:34:06,MX,visaclassic,426807.0,159900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-22 02:36:30,MexicoAccount,email241832,ip77787,card31669
18,19,2015-12-08 19:58:35,MX,mccredit,544549.0,89165.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-22 07:09:44,MexicoAccount,email171889,ip70519,card241186
19,20,2015-11-23 16:34:39,MX,mccredit,557910.0,119900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-23 18:55:21,MexicoAccount,email260026,ip65124,card157094
20,21,2015-11-23 16:34:05,MX,mccredit,520416.0,160800.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-23 23:44:27,MexicoAccount,email105581,ip81624,card235670
21,22,2015-12-08 19:58:35,MX,mccredit,520021.0,89900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-25 23:11:22,MexicoAccount,email250381,ip64823,card43275
22,23,2015-11-09 14:25:54,MX,mccredit,520021.0,97900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-26 03:55:52,MexicoAccount,email13339,ip67976,card270780
23,24,2015-11-23 16:34:28,MX,mccredit,518853.0,129900.0,MXN,US,Ecommerce,Chargeback,True,0,2015-07-26 22:22:29,MexicoAccount,email100813,ip352385,card236034
24,25,2015-11-12 13:16:34,MX,mccredit,520416.0,191900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-28 18:02:51,MexicoAccount,email21032,ip70585,card252061
25,26,2015-11-09 14:25:57,MX,mccredit,554900.0,93415.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-28 22:40:35,MexicoAccount,email93270,ip112449,card147712
26,27,2015-11-12 13:16:34,MX,visaclassic,477291.0,289900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-29 17:56:53,MexicoAccount,email21032,ip70585,card140567
27,28,2015-11-23 16:34:40,MX,visaplatinum,477214.0,118900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-30 05:48:47,MexicoAccount,email332232,ip112910,card148220
28,29,2015-11-12 13:16:34,MX,visaplatinum,410181.0,329900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-30 07:30:54,MexicoAccount,email136002,ip111250,card45886
29,30,2015-11-12 13:16:34,MX,visaplatinum,410181.0,181900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-30 07:38:38,MexicoAccount,email136002,ip111250,card45886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290352,482699,2015-11-02 20:34:44,SE,visadebit,455262.0,106250.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 19:23:11,SwedenAccount,email29992,ip126714,card64853
290353,482700,2015-11-03 08:12:14,SE,mcdebit,522660.0,131200.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 19:35:24,SwedenAccount,email27002,ip201528,card74554
290354,482702,2015-10-31 22:03:39,SE,mcdebit,522660.0,98500.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 19:52:11,SwedenAccount,email108911,ip226744,card145618
290355,482703,2015-11-02 20:16:57,SE,mcdebit,554501.0,34900.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 19:55:50,SwedenAccount,email250942,ip166144,card65471
290356,482704,2015-11-03 08:12:14,SE,mccredit,521358.0,94900.0,SEK,IT,Ecommerce,Settled,True,1,2015-10-31 19:59:26,SwedenAccount,email227126,ip166208,card41266
290357,482705,2015-11-02 20:34:44,SE,mcdebit,554501.0,64900.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 20:01:58,SwedenAccount,email255010,ip201874,card248629
290358,482707,2015-11-03 08:12:14,SE,mcdebit,554501.0,39900.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 20:23:30,SwedenAccount,email123982,ip200750,card104606
290359,482708,2015-11-02 20:34:44,SE,visadebit,453903.0,36900.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 20:32:59,SwedenAccount,email54526,ip317614,card227387
290360,482709,2015-11-03 08:12:14,SE,visadebit,453904.0,45000.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 20:35:19,SwedenAccount,email278152,ip228975,card157536
290361,482711,2015-11-03 08:12:14,SE,visadebit,453903.0,47400.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 20:37:32,SwedenAccount,email6386,ip233190,card36252
290362,482712,2015-11-02 20:34:44,SE,visadebit,453903.0,68650.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 20:43:38,SwedenAccount,email172834,ip125673,card230182
290363,482713,2015-11-03 08:12:14,SE,visadebit,453903.0,108400.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 20:47:40,SwedenAccount,email172986,ip329267,card217014
290364,482714,2015-11-03 22:33:58,SE,mccredit,544481.0,88900.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 20:50:26,SwedenAccount,email209947,ip227635,card246061
290365,482715,2015-11-02 20:34:44,SE,mcdebit,516815.0,81400.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 20:58:47,SwedenAccount,email252867,ip294842,card186257
290366,482716,2015-11-02 20:34:44,SE,mcdebit,554501.0,77400.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 21:07:23,SwedenAccount,email97210,ip233810,card11274
290367,482717,2015-11-02 20:34:44,SE,visadebit,453903.0,100000.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 21:17:28,SwedenAccount,email159702,ip294829,card208856
290368,482718,2015-11-03 18:56:44,SE,mcdebit,557447.0,43150.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 21:18:56,SwedenAccount,email262419,ip179436,card265298
290369,482719,2015-11-03 08:12:14,SE,visadebit,457241.0,84900.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 21:23:20,SwedenAccount,email7435,ip202041,card56985
290370,482720,2015-11-03 08:12:14,SE,mcdebit,554501.0,70000.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 21:30:35,SwedenAccount,email146121,ip201392,card193395
290371,482722,2015-11-03 08:12:14,SE,mcdebit,522660.0,104100.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 21:59:38,SwedenAccount,email27002,ip201528,card74554
290372,482723,2015-11-03 08:12:14,SE,mcdebit,522660.0,48900.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 22:43:46,SwedenAccount,email118283,ip201647,card15570
290373,482724,2015-11-02 17:04:57,SE,mcdebit,557447.0,110000.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 22:44:05,SwedenAccount,email331915,ip230093,card267385
290374,482725,2015-11-03 08:12:14,SE,mccredit,518620.0,94900.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 23:01:05,SwedenAccount,email31127,ip135344,card141967
290375,482726,2015-11-03 08:12:14,SE,visadebit,453903.0,181600.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 23:11:00,SwedenAccount,email105574,ip125631,card43585
290376,482728,2015-11-02 20:34:44,SE,mcdebit,554501.0,34900.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 23:20:35,SwedenAccount,email101064,ip226979,card147654
290377,482729,2015-11-03 18:57:01,SE,visadebit,453903.0,48100.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 23:21:58,SwedenAccount,email135821,ip125573,card83162
290378,482731,2015-11-03 08:12:14,SE,mcdebit,554501.0,195000.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 23:31:24,SwedenAccount,email259702,ip202029,card131519
290379,482732,2015-11-03 08:12:14,SE,visadebit,453903.0,52500.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 23:41:40,SwedenAccount,email32927,ip229869,card142173
290380,482733,2015-11-03 18:56:44,SE,mcdebit,554501.0,87700.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 23:50:07,SwedenAccount,email97400,ip200721,card141579
290381,482734,2015-11-03 08:12:14,SE,mcdebit,554501.0,58500.0,SEK,SE,Ecommerce,Settled,True,1,2015-10-31 23:55:02,SwedenAccount,email12831,ip199739,card269508

In [38]:
# Remove confused transaction 
df = df[df['simple_journal'] != 'Refused']
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 237036 entries, 0 to 290381
Data columns (total 17 columns):
txid                            237036 non-null int64
bookingdate                     237036 non-null object
issuercountrycode               237032 non-null object
txvariantcode                   237036 non-null object
bin                             237036 non-null float64
amount                          237036 non-null float64
currencycode                    237036 non-null object
shoppercountrycode              236694 non-null object
shopperinteraction              237036 non-null object
simple_journal                  237036 non-null object
cardverificationcodesupplied    223842 non-null object
cvcresponsecode                 237036 non-null int64
creationdate                    237036 non-null object
accountcode                     237036 non-null object
mail_id                         237036 non-null object
ip_id                           237036 non-null object
card_id                         237036 non-null object
dtypes: float64(2), int64(2), object(13)
memory usage: 32.6+ MB

In [33]:
# Convert bookingdate and creation date (string) into datetime 
cols = ['bookingdate', 'creationdate']
for col in cols:
    pd.to_datetime(df[col], format='%Y-%m-%d %H:%M:%S', errors='coerce')

count                  237036
unique                 232824
top       2015-08-22 10:12:01
freq                        6
Name: creationdate, dtype: object

Single variable exploration

In [ ]:
# Visualize money attribute
benign_data = df.loc[df['simple_journal'] == 'Settled']
frad_data = df.loc[df['simple_journal'] == 'Chargeback']

f, axarr = plt.subplots(2)
kwargs = dict(alpha=0.5, bins=100)
axarr[0].hist(benign_data['amount'], **kwargs, color='r', label='benign')
axarr[0].legend()
axarr[1].hist(frad_data['amount'], **kwargs, color='g', label='frad')
axarr[1].legend()
f.text(0.5, 0.01, 'Money', ha='center', va='center')
f.text(0.06, 0.5, 'Count', ha='center', va='center', rotation='vertical')
axarr[0].set_title("Histogram of Money")
plt.show()